@import url('https://fonts.googleapis.com/css2?family=Playfair:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
:root{
    --First-Color:#7734E5 ;
    --Hover-Color-Menu: #2AF3FF;
    --Hover-Color-Buttons:red ;
    --Hover-Color-2: #7289da;
    --Strong-Color: yellow;
    --Text-Color: white;
    --Footer-Color: brown;
    --First-Font: 'Playfair', serif;
    --Second-Font: 'Montserrat', sans-serif; 
}

*{
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
     background-color: var(--First-Color);  
     /* background-image: url(./background.jpg); */ 
    background-repeat: no-repeat; 
    color: var(--Text-Color);
}
.cabecalho{
   padding:2% 0% 0% 5%;
   width: 50%;
   gap: 40px;
}
.cabecalho__menu{
    display: flex;
    gap: 40px;
}
.Home{
    font-family: var(--Second-Font);
    color: var(--Text-Color);
    font-size: 1.5625rem; /* 25px*/
    text-decoration: none;
}
.Home:hover{
color: var(--Hover-Color-Menu);
}
.titulo-casa{
    color: var(--Strong-Color);
}
.casa-texto{
    color: var(--Strong-Color);
}
.arrumacao{
padding: 3% 5%;
display: flex;
align-items: center;
justify-content: space-between;
gap: 86px;
}
.arrumacao__organizacao{
   
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.organizacao__titulo{
    font-size:4.6rem; /* 73,6px */
    font-family: var(--First-Font);
}
.organizacao_p{
    font-family: var(--Second-Font);
    font-size: 1.75rem; /*28px*/
    font-weight: 500px;
}

.imagesbuttons{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.botoes{
display: flex;
align-items: center;
justify-content:center;


}

.link{
   /* background-color: peru;*/
   display: flex;
   justify-content: center;
   align-items: center;
   
    margin: 0% 3% 0% 3%;
    width: 50%;
    padding: 25px 0;
    text-align:center;
    color: var(--Text-Color);
    border-radius: 20px;
    border: 2px solid var(--Hover-Color-Buttons);
    font-size: 1,5rem; /* 24px */
    text-decoration: none;
    font-family: var(--Second-Font);
}
.link2{
    display: flex;
    justify-content: center;
    align-items: center;
    
     margin: 0% 3% 0% 3%;
     width: 50%;
     padding: 25px 0;
     text-align:center;
     color: var(--Text-Color);
     border-radius: 20px;
     border: 4px solid var(--Hover-Color-2);
     font-size: 1,5rem; /* 24px */
     text-decoration: none;
     font-family: var(--Second-Font);
}
.buttonsimg{
    
    padding: 0% 2% 0% 2%;
    width: 25px;
    
}

.link:hover{
    background-color: var(--Hover-Color-Buttons);
}
.link2:hover{
    background-color: var(--Hover-Color-2);
}

.images{

    display: flex;
    justify-content: center;
    
}
.image1{
    padding: 0% 5% 0% 15%;
    width: 66%;
    
}
.image2{
    padding: 0% 11% 0% 22%;
    width: 33%;
}
.pe{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px;
    background-color: var(--Footer-Color);
    
    

}
.texto{
    font-family: var(--Second-Font);
    font-size: 1,875rem; /* 30 px */
}
@media(max-width: 1200px){
.cabecalho{
    padding: 3% 10% 0% 25%;
}
    
.cabecalho__menu{
    
    justify-content: center;
}
    
    .arrumacao{
        flex-direction: column;
        padding: 5%;
    }
    .arrumacao__organizacao{
        width: auto;
    }
    .imagesbuttons{
        flex-direction: column;
    }
    .pe{
      padding: 5% 9.9% 5% 9.9%; 
    }
}

